{% extends 'base_index.html' %}
{% load static %}

{% block title %}{{ block.super }} - Transfer Detail{% endblock title %}

{% block content %}

    <div class="container">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Transfer Bank</h1>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body module">
                <h1><strong>Transfer:</strong>{{ object.get_method_display }}</h1>
                <ul>
                    <li>Date: {{ object.sender }}</li>
                    <li>Title: {{ object.receiver }}</li>
                    <li>Date: {{ object.created }}</li>
                    <li>Title: {{ object.title }}</li>
                    <li>Amount: {{ object.amount }}</li>
                    <li>Type: {{ object.get_method_display }}</li>
                    <li>Status: {{ object.get_status_display }}</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock content%}